@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.ex-list{
    position: relative;
}
.subtext-1{
   position: absolute;
 top : 0 ;
 left : 100% ;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    width:250px;
    display: none;
    
}

.group-1:hover{

    background-color: rgb(213, 222, 222);
}

.group-1:hover .subtext-1{
    display: block;
}